/* cyrillic-ext */
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/FiraCode-Regular.ttf') format('ttf');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/FiraCode-Medium.ttf') format('ttf');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/FiraCode-SemiBold.ttf') format('ttf');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/FiraCode-Bold.ttf') format('ttf');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/FiraCode-Light.ttf') format('ttf');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000; 
}

body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; 
}

.terminal {
    width: 100vw;
    height: 100vh;
    background-color: #5413910e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    font-family: inherit;
    font-size: 16px;
}

.terminal-body {
    height: calc(100% - 30px);
    padding: 10px;
    overflow-y: auto;
}

.output {
    color: #27f72ed5;
    font-size: inherit;
    text-shadow: 0 0 10px #27f72ed5;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    color: #27f72ed5;
    margin-right: 5px;
    font-size: inherit;
}

.command-line {
    background: none;
    border: none;
    color: #27f72ed5;
    outline: none;
    width: calc(100% - 50px);
    font-family: inherit;
    font-size: inherit;
}

.command-line:focus {
    outline: none;
}

.blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    50% {
    opacity: 0;
    }
}
